body {
    /*font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;*/
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

.card {
    /* Важные стили для 3D-эффекта */
    perspective: 1000px; /* Задаём перспективу для дочерних 3D-элементов */
    cursor: pointer;
    height: 200px; /* Фиксированная высота карточки */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s; /* Время анимации переворота */
    transform-style: preserve-3d; /* Важно! Сохраняем 3D-пространство */
}

/* Класс, который добавляется при клике и запускает переворот */
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

/* Общие стили для обеих сторон карточки */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Скрываем обратную сторону во время поворота */
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Стили лицевой стороны */
.card-front {
    background-color: #3498db;
    color: white;
}

/* Стили обратной стороны */
.card-back {
    background-color: #f1c40f;
    color: #333;
    transform: rotateY(180deg); /* Изначально скрыта поворотом */
}

/* Стили для блока с кодом на обороте */
.card-back pre {
    background: #2c3e50;
    color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    overflow-x: auto;
    text-align: left;
}

/* Стили для номеров строк от плагина */
.hljs-ln-numbers {
  text-align: center;
  color: #ccc;
  border-right: 1px solid #999;
  vertical-align: top;
  padding-right: 0.5em;
  margin-right: 0.5em;
  user-select: none;
}
td.hljs-ln-line.hljs-ln-numbers {
    padding-right: 5px;
}
td.hljs-ln-line.hljs-ln-code {
    padding-left: 5px;
}

