---
layout: default
---

<article class="note-page">
    <div class="container">
        <header class="note-header">
            <h1 class="note-title">{{ page.title }}</h1>
            {{ content | split: '## Ответ' | first | remove: '## Вопрос' | markdownify }}
        </header>

        <div class="note-content">
            <h2>Ответ:</h2>
            {{ content | split: '## Ответ' | last | markdownify }}
        </div>

        <div class="note-navigation">
            <a href="{{ '/notes/' | relative_url }}" class="btn btn-secondary">
                ← Назад ко всем карточкам
            </a>
        </div>
    </div>
</article>
